body {
    font-family: 'Rubik', sans-serif;
 
/* 
    margin: 0;
    padding: 0;
    background-image: url('../src/assets/Site_Background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Rubik Mono One', sans-serif;
  }
  
  .small {
    font-weight: 300;
    font-style: italic;
  }

.backgroundStyle {
  background-image: url('../src/assets/Site_Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}



.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .pagination-container  {
    font-size: 18px;
  }

  .pagination-container .ant-pagination-item {
    width: 32px;
    height: 32px; 
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .pagination-container .ant-pagination {
    font-size: 20px;
  }

  .pagination-container .ant-pagination-item {
    width: 40px; 
    height: 40px; 
  }
}

@media (min-width: 992px) {
  .pagination-container .ant-pagination {
    font-size: 24px;
  }

  .pagination-container .ant-pagination-item {
    width: 48px; 
    height: 48px; 
  }
}

.accordion-button {
  background-color: black;
}

.accordion-button:not(.collapsed) {
  background-color: #132945;
}

.accordion-body {
  background-color: #132945;
}